<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalendarDatePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>425F06B01D14C77E004B5C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>425F06C41D14C77E004B5C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>425F06CF1D14C77E004B5C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
